/*========== VARIABLES ==========*/
:root {
  /*----- Colors -----*/
  --color-primary: #0096d6;
  --color-secondary: #0070d2;
  --color-secondary-accent: #0060ad;
  --color-text-default: #1b1c1d;
  --color-text-default-secondary: #606162;
  --color-light-gray: #b6b6b6;
  --bg-gray: #f4f5f6;
  /* --bg-white: #f2f2f2; */
  --bg-white: #ffffff;

  /*----- Shadow -----*/
  --shadow-color: 0deg 0% 63%;
  --shadow-low: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  --shadow-medium: 0px 0.5px 0.6px hsl(var(--shadow-color) / 0.36),
    0px 1.7px 1.9px -0.8px hsl(var(--shadow-color) / 0.36),
    0.1px 4.2px 4.7px -1.7px hsl(var(--shadow-color) / 0.36),
    0.2px 10.3px 11.6px -2.5px hsl(var(--shadow-color) / 0.36);

  /*----- Font & Typography -----*/
  --font-primary: "Montserrat", sans-serif;
  --font-primary-2: "Roboto", sans-serif;
  --font-handwrite-1: "Nothing You Could Do", cursive;
  --font-handwrite-2: "Hurricane", cursive;
  --font-handwrite-3: "Vujahday Script", cursive;
  /* *fz-font size */
  --fz-banner-title-mob: 4rem;
  --fz-banner-title-tab: 5.2rem;
  --fz-banner-title-pc: 6.4rem;
  --fz-section-title-mob: 2.4rem;
  --fz-section-title-tab: 3.2rem;
  --fz-article-title: 2rem;
  --fz-text-default: 1.6rem;
  --fz-text-small: 1.4rem;
  --fz-text-smaller: 1.2rem;
  /* *fw-font weight */
  --fw-thin: 300;
  --fw-default: 400;
  --fw-medium: 600;
  --fw-bold: 800;

  /*----- Length Values -----*/
  --margin-bottom: 2rem;
  --max-width-laptop: 1366px;
  --max-width-pc: 1440px;
  --max-body: 1600px;
  --nav-mobile-heigth: 60px;
  --padding-inline: 2rem;

  /*----- Other Values -----*/
  --transition: 350ms ease-in;
}

/*========== BASE ==========*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  font-size: var(--fz-text-default);
  font-family: var(--font-primary-2);
  font-weight: var(--fw-default);
  color: var(--color-text-default);
  background-color: var(--bg-gray);
}

/*========== REUSABLE CLASSES ==========*/
.wrapper {
  max-width: var(--max-body);
  margin-inline: auto;
  box-shadow: var(--shadow-medium);
}

.container {
  max-width: var(--max-width-laptop);
  margin-inline: auto;
}
