@import url("base.css");
@import url("reset.css");

/*========== HEADER & NAV ==========*/
header {
  background-color: var(--bg-white);
}

/* mobile navigation */
.nav-mobile {
  height: var(--nav-mobile-heigth);
  background-color: var(--bg-gray);
  border-block-end: thin solid var(--color-light-gray);
}

.nav-mobile ul {
  padding-inline: var(--padding-inline);
  font-family: var(--font-primary);
  font-size: var(--fz-text-smaller);
  font-weight: var(--fw-medium);
  height: 100%;
  display: flex;
  gap: 3rem;
  align-items: center;
}

.nav-mobile li.logo {
  margin-inline-end: auto;
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  font-size: var(--fz-text-smaller);
  letter-spacing: 1.5px;
}

.nav-mobile li.logo a {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.nav-mobile li.logo img {
  max-width: 60px;
}

.nav-mobile li:nth-of-type(2):hover a {
  text-decoration: underline;
}

.nav-mobile li.search {
  width: 26px;
  height: 26px;
}

.nav-mobile li.burger img {
  width: 40px;
}

.nav-mobile li.burger span {
  display: none;
}

.nav-mobile .mobile-menu {
  transform: translateY(-200%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  left: 0;
  width: 100%;
  padding-block: 2rem;
  height: fit-content;
  font-family: var(--font-primary-2);
  font-weight: var(--fw-default);
  font-size: var(--fz-text-default);
  box-shadow: var(--shadow-low);
  background-color: var(--bg-white);
}

.nav-mobile .mobile-menu.open {
  transform: translateY(0);
}

.nav-mobile .mobile-menu li {
  cursor: pointer;
  width: 100%;
  line-height: 2;
}

.nav-mobile .mobile-menu li:hover a {
  text-decoration: underline;
}

.nav-mobile .mobile-menu a {
  width: 100%;
  display: flex;
  align-items: center;
}

.nav-mobile .mobile-menu li:nth-child(-n + 4) {
  margin-block-end: var(--margin-bottom);
}

.nav-mobile .mobile-menu li:nth-child(-n + 4) a::after {
  content: "";
  position: absolute;
  right: var(--padding-inline);
  border: solid var(--color-text-default);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
}

.nav-mobile .mobile-menu li:nth-last-child(-n + 4):not(:last-child) {
  border-block-end: thin solid var(--color-light-gray);
  margin-block-end: calc(var(--margin-bottom) / 2);
}

.nav-mobile .mobile-menu img {
  max-width: 1.6rem;
}

.nav-mobile .mobile-menu a:last-child {
  gap: 0.8rem;
}

/* desktop navigation */
.nav-desktop {
  display: none;
}

/* banner */
.banner {
  display: flex;
  flex-direction: column;
}

.banner .banner-img {
  background-color: var(--color-dark-blue);
  background-image: url("/img/banner-mobile.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vmin;
  display: flex;
}

.banner .banner-img p {
  margin: auto;
  color: white;
  letter-spacing: 3px;
  font-size: 5vmin;
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.banner .banner-img span {
  font-family: var(--font-handwrite-1);
  text-transform: capitalize;
  font-size: 15vmin;
}

.banner .banner-txt {
  padding-inline: var(--padding-inline);
  padding-block: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.banner .banner-txt h1 {
  font-size: var(--fz-banner-title-mob);
  font-weight: var(--fw-default);
  line-height: 1.2;
}

.banner .banner-txt .banner-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: var(--color-dark-blue);
  font-weight: var(--fw-medium);
}

.banner .banner-txt .banner-btns button {
  background-color: var(--color-dark-blue);
  color: white;
}

.banner .banner-txt .banner-btns button:hover {
  background-color: var(--color-dark-blue-hover);
}

.banner .banner-txt .banner-btns a {
  display: flex;
  align-items: center;
  position: relative;
}

.banner .banner-txt .banner-btns a::after {
  content: "";
  position: absolute;
  right: -1.1rem;
  border: solid var(--color-dark-blue);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  transition: right var(--transition-fast);
}

.banner .banner-txt .banner-btns a:hover {
  color: var(--color-dark-blue-hover);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.banner .banner-txt .banner-btns a:hover::after {
  right: -1.6rem;
}

/*========== MAIN ==========*/
main {
  background-color: var(--bg-white);
}

/* icons */
.icons {
  width: 100%;
  border-block-start: thin solid var(--color-light-gray);
  padding-inline: var(--padding-inline);
  padding-block: 4rem;
  font-family: var(--font-primary);
  font-weight: var(--fw-medium);
  font-size: var(--fz-text-small);
}

.icons ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem 2rem;
  justify-items: center;
}

.icons ul li {
  padding: 1rem;
}

.icons ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.icons ul li a:hover {
  text-decoration: underline;
}

.icons img {
  width: 3rem;
}

/* cards */
.cards {
  padding-inline: var(--padding-inline);
  padding-block: 4rem;
}

.cards h2 {
  text-align: center;
  font-size: var(--fz-section-title-mob);
  font-weight: var(--fw-default);
  margin-block-end: 2rem;
}

.cards .cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.cards .card {
  box-shadow: 0px 3px 6px 0px rgba(140, 149, 159, 0.15);
}

.cards .card .card-img img {
  width: 100%;
  height: 50vw;
  object-fit: contain;
}

.cards .card .card-txt {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cards .card .card-txt h3 {
  font-size: var(--fz-article-title);
  font-weight: var(--fw-default);
}

.cards .card .card-txt a {
  font-weight: var(--fw-medium);
  color: var(--color-secondary);
  font-family: var(--font-primary);
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
  margin-top: 2rem;
}

.cards .card .card-txt a::after {
  content: "";
  position: absolute;
  right: -2rem;
  border: solid var(--color-secondary);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  transition: right var(--transition-fast);
}

.cards .card .card-txt a:hover {
  color: var(--color-secondary-accent);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.cards .card .card-txt a:hover::after {
  right: -2.5rem;
}

/* articles */
.articles {
  padding-inline: var(--padding-inline);
  padding-block: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  align-items: center;
}

.articles article {
  width: 100%;
}

.articles article .article-txt h2 {
  font-size: var(--fz-section-title-mob);
  font-weight: var(--fw-default);
  margin-block-end: 2rem;
}

.articles article .article-img {
  margin-block-end: 2rem;
  max-width: 75vw;
}

.articles article .articles-btns {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--color-secondary);
  margin-top: 3rem;
}

.articles article .article-txt .articles-btns button {
  width: fit-content;
  border: thin solid var(--color-secondary);
  color: var(--color-secondary);
  font-weight: var(--fw-medium);
  transition: border var(--transition) color var(--transition);
}

.articles article .article-txt .articles-btns button:hover {
  border-color: var(--color-secondary-accent);
  color: var(--color-secondary-accent);
}

.articles article .article-txt .articles-btns a {
  font-weight: var(--fw-medium);
  color: var(--color-secondary);
  font-family: var(--font-primary);
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
}

.articles article .article-txt .articles-btns a::after {
  content: "";
  position: absolute;
  right: -2rem;
  border: solid var(--color-secondary);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  transition: right var(--transition-fast);
}

.articles article .article-txt .articles-btns a:hover {
  color: var(--color-secondary-accent);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.articles article .article-txt .articles-btns a:hover::after {
  right: -2.5rem;
}

/* video */
.video {
  padding-inline: var(--padding-inline);
  padding-block: 4rem;
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.video h2 {
  font-size: var(--fz-section-title-mob);
  font-weight: var(--fw-default);
  margin-bottom: 2rem;
}

.video .video-poster {
  cursor: pointer;
  background-color: rgb(1, 1, 39);
  position: relative;
  margin-inline: auto;
  margin-top: 3rem;
  width: 100%;
}

.video .video-poster img {
  opacity: 0.6;
  object-fit: cover;
}

.video .video-poster span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-white);
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  font-weight: var(--fw-medium);
  display: flex;
  align-items: center;
  justify-content: center;
}

.video .video-poster span::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 11px solid var(--color-text-default);
  rotate: 90deg;
  margin-inline-start: 1rem;
}

.video .video-poster:hover span {
  background-color: var(--bg-gray);
}

/* blog */
.blog {
  padding-inline: var(--padding-inline);
  padding-block: 4rem;
  width: 100%;
  margin-inline: auto;
}

.blog .blog-header h2 {
  text-align: center;
  font-size: var(--fz-section-title-mob);
  font-weight: var(--fw-default);
  margin-bottom: 2rem;
}

.blog .blog-header .blog-nav-pc {
  display: none;
}

.blog .blog-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.blog .blog-container article {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-block: 1rem;
}

.blog .blog-container article h4 {
  font-weight: var(--fw-medium);
}

.blog .blog-container article h3 {
  font-weight: var(--fw-default);
  font-size: var(--fz-article-title);
}

.blog .blog-container article a,
.blog ul li a {
  font-weight: var(--fw-medium);
  color: var(--color-secondary);
  font-family: var(--font-primary);
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
  margin-top: 2rem;
}

.blog .blog-container article a::after {
  content: "";
  position: absolute;
  right: -2rem;
  border: solid var(--color-secondary);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  transition: right var(--transition-fast);
}

.blog .blog-container article a:hover {
  color: var(--color-secondary-accent);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.blog .blog-container article a:hover::after {
  right: -2.5rem;
}

.blog .blog-nav-mob {
  border-block-start: thin solid var(--color-light-gray);
  margin-block-start: 3rem;
  padding-block-start: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.blog .blog-nav-mob li a {
  padding-inline-end: 3rem;
  position: relative;
}

.blog .blog-nav-mob li a::after {
  content: "";
  position: absolute;
  right: 1rem;
  border: solid var(--color-secondary);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  transition: right var(--transition-fast);
}

.blog .blog-nav-mob li a:hover {
  color: var(--color-secondary-accent);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.blog .blog-nav-mob li a:hover::after {
  right: 0.5rem;
}

/*========== FOOTER ==========*/
footer {
  background-color: var(--bg-gray);
  padding-inline: var(--padding-inline);
  padding-block: 4rem;
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

footer nav + nav {
  border-block-start: thin solid var(--color-light-gray);
  padding-block-start: 3rem;
}

footer nav h4 {
  font-weight: var(--fw-medium);
  margin-block-end: 2rem;
}

footer nav ul {
  font-size: var(--fz-text-small);
  font-weight: var(--fw-thin);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

footer .footer-quick-links ul:nth-last-child(1) {
  display: none;
}

footer nav ul li a:hover {
  text-decoration: underline;
}

footer .socials-and-copyright {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

footer .socials-and-copyright ul {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

footer .socials-and-copyright img {
  width: 24px;
  height: 24px;
  filter: grayscale(100%);
}

footer .socials-and-copyright a:hover img {
  filter: grayscale(0);
}

footer .socials-and-copyright p {
  font-size: var(--fz-text-smaller);
}

footer .socials-and-copyright p a:hover {
  text-decoration: underline;
}

/*========== BREAKPOINTS ==========*/
/* 500px */
@media (min-width: 500px) {
  .cards .card {
    width: 450px;
  }

  .articles article {
    width: 450px;
  }

  .articles article .article-img {
    max-width: 65vw;
  }

  .video {
    width: 450px;
    padding-inline: 0;
  }

  .blog {
    width: 450px;
  }
}

/* 600px */
@media (min-width: 600px) {
  .banner .banner-txt,
  .icons {
    padding-inline: var(--padding-inline-pc);
  }

  .banner .banner-txt h1 {
    font-size: var(--fz-banner-title-tab);
  }

  .icons ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .cards h2 {
    font-size: var(--fz-section-title-tab);
    width: 70vw;
    margin-inline: auto;
  }

  .cards .card {
    width: 80vw;
  }

  .cards .card .card-img img {
    height: 40vw;
  }

  .articles article {
    width: 80vw;
  }

  .articles article .article-txt h2 {
    font-size: var(--fz-section-title-tab);
  }

  .video,
  .blog {
    width: 80vw;
  }

  .video h2,
  .blog .blog-header h2 {
    font-size: var(--fz-section-title-tab);
  }

  .video .video-poster {
    width: 60vw;
  }
}

/* 768px */
@media (min-width: 768px) {
  .nav-mobile ul {
    padding-inline: var(--padding-inline-wide);
  }

  .nav-mobile li.logo img {
    max-width: 90px;
  }

  .nav-mobile li.logo {
    font-size: var(--fz-text-default);
  }

  .nav-mobile li.burger a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .nav-mobile li.burger span {
    display: inline-block;
    text-transform: uppercase;
    font-weight: var(--fw-default);
    font-size: var(--fz-text-default);
    font-family: var(--font-primary-2);
  }

  .nav-mobile .mobile-menu li:nth-child(-n + 4) a::after {
    right: var(--padding-inline-wide);
  }

  .banner .banner-txt p {
    max-width: 55vw;
  }

  footer h4 {
    display: none;
  }

  footer nav ul {
    gap: 1rem 3rem;
    flex-flow: row wrap;
    justify-content: center;
    padding-inline: calc((100vw - 70%) / 2);
  }
}

/* 900px */
@media (min-width: 900px) {
  .cards .card {
    width: 750px;
  }

  .cards .card .card-img img {
    height: 30vw;
  }

  .articles article {
    width: 750px;
  }

  .articles article .article-img {
    width: 600px;
  }
}

/* 1024px */
@media (min-width: 1024px) {
  .nav-mobile {
    display: none;
  }

  .nav-desktop {
    display: flex;
    flex-direction: column;
    font-family: var(--font-primary);
    font-weight: var(--fw-medium);
  }

  .nav-desktop .sup-menu {
    background-color: var(--bg-gray);
  }

  .nav-desktop .sup-menu ul {
    display: flex;
    gap: 3rem;
    justify-content: flex-end;
    align-items: center;
    padding-inline: var(--padding-inline-pc);
    font-size: var(--fz-text-smaller);
    padding-block: 1rem;
  }

  .nav-desktop .sup-menu img {
    max-width: 1.6rem;
  }

  .nav-desktop .sup-menu li:nth-last-child(-n + 2) a {
    display: flex;
    gap: 0.6rem;
  }

  .nav-desktop .sup-menu li:hover a {
    text-decoration: underline;
  }

  .nav-desktop .main-menu {
    padding-inline: var(--padding-inline-pc);
    padding-block: 1.5rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: var(--fz-text-small);
  }

  .nav-desktop .main-menu ul {
    margin-inline-start: auto;
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  .nav-desktop .main-menu li:not(.main-logo):hover a {
    text-decoration: underline;
  }

  .nav-desktop .main-menu .main-logo {
    color: var(--color-primary);
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    font-size: var(--fz-article-title);
    letter-spacing: 1.5px;
  }

  .nav-desktop .main-menu .main-logo a {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .nav-desktop .main-menu .main-logo img {
    max-width: 90px;
  }

  .nav-desktop .main-menu li:last-child a {
    display: flex;
    gap: 0.6rem;
  }

  .nav-desktop .main-menu li:last-child img {
    max-width: 2.4rem;
  }

  .banner .banner-img {
    background-image: url("/img/banner.webp");
    min-height: 40vmin;
  }

  .banner .banner-txt {
    gap: 3rem;
  }

  .banner .banner-txt .banner-btns {
    flex-direction: row;
    gap: 3rem;
  }

  .banner .banner-txt .banner-btns a::after {
    right: -2rem;
  }

  .banner .banner-txt .banner-btns a:hover::after {
    right: -2.5rem;
  }

  .icons ul {
    grid-template-columns: repeat(6, 1fr);
    width: 700px;
    margin-inline: auto;
  }

  .cards {
    padding-inline: var(--padding-inline-pc);
    padding-block-end: 6rem;
  }

  .cards h2 {
    margin-block-end: 4rem;
  }

  .cards .cards-container {
    flex-direction: row;
    align-items: normal;
    gap: 2rem;
  }

  .cards .card .card-img img {
    height: 15vw;
  }

  .articles {
    padding-inline: var(--padding-inline-pc);
    padding-block-end: 6rem;
  }

  .articles article {
    width: 100%;
    display: flex;
    gap: 8rem;
    align-items: center;
  }

  .articles article .article-img {
    flex: 1;
  }

  .articles article .article-txt {
    flex: 1;
  }

  .articles article:nth-child(2) .article-img {
    order: 2;
  }

  .video {
    max-width: 55vw;
    padding-block-end: 6rem;
  }

  .video .video-poster {
    max-width: 100%;
  }

  .video .video-poster span {
    padding: 1rem 2rem;
  }

  .blog {
    padding-inline: var(--padding-inline-pc);
    width: 100%;
    padding-block-end: 6rem;
  }

  .blog .blog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 4rem;
  }

  .blog .blog-header h2,
  .blog .blog-header .blog-nav-pc a {
    margin: 0;
  }

  .blog .blog-header .blog-nav-pc {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .blog .blog-nav-pc li a {
    padding-inline-end: 3rem;
    position: relative;
  }

  .blog .blog-nav-pc li a::after {
    content: "";
    position: absolute;
    right: 1rem;
    border: solid var(--color-secondary);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    transition: right var(--transition-fast);
  }

  .blog .blog-nav-pc li a:hover {
    color: var(--color-secondary-accent);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
  }

  .blog .blog-nav-pc li a:hover::after {
    right: 0.5rem;
  }

  .blog .blog-container {
    flex-direction: row;
    gap: 4rem;
  }

  .blog .blog-nav-mob {
    display: none;
  }

  footer {
    padding-inline: var(--padding-inline-pc);
    width: 100%;
  }

  footer .footer-quick-links ul,
  footer .footer-resources-links ul {
    justify-content: flex-start;
    padding-inline: 0;
  }

  footer .footer-quick-links {
    display: flex;
    justify-content: space-between;
  }

  footer .footer-quick-links ul:nth-last-child(1) {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  footer .footer-quick-links img {
    width: 24px;
    height: 24px;
    filter: grayscale(100%);
  }

  footer .footer-quick-links a:hover img {
    filter: grayscale(0);
  }

  footer .footer-resources-links ul li a {
    font-size: var(--fz-text-smaller);
  }

  footer .socials-and-copyright ul {
    display: none;
  }

  footer .socials-and-copyright {
    flex-direction: row;
    justify-content: flex-start;
  }
}

/* 1100px */
@media (min-width: 1100px) {
  .nav-desktop .main-menu,
  .nav-desktop .main-menu ul {
    gap: 4rem;
  }

  .banner .banner-img p {
    font-size: 8vmin;
    gap: 2rem;
  }

  .banner .banner-img span {
    font-size: 18vmin;
  }

  .banner .banner-txt h1 {
    font-size: var(--fz-banner-title-pc);
  }
}

/* 1240px */
@media (min-width: 1240px) {
  .banner .banner-img {
    min-height: 55vmin;
  }

  .cards {
    padding-block-end: 8rem;
  }

  .cards .card .card-img img {
    height: 12vw;
  }

  .articles {
    padding-block-end: 8rem;
  }

  .articles article {
    gap: 12rem;
  }

  .articles article .articles-btns {
    flex-direction: row;
    gap: 2rem;
    align-items: center;
  }

  .video {
    padding-block-end: 8rem;
  }

  .blog {
    padding-block-end: 8rem;
  }
}

/* 1400px */
@media (min-width: 1400px) {
  .cards,
  .articles,
  .blog {
    padding-inline: var(--padding-inline-pc-wide);
  }

  .video .video-poster {
    max-width: 800px;
  }
}
